<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Boostrap CSS -->
		<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">		
		<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body data-ng-app="angularjs-calculator">

		<div class="container-fluid" data-ng-controller="CalculatorController as vm">
			<!--Calculator-->
			<div id="calculator" class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12">

					<table class="table-responsive">
						<thead class="calc-header">
							<tr>
								<th colspan="4">
									<small class="calc-last-history">&nbsp;</small>
									<input type="number" name="inputCalc" value="" class="calc-input col-xs-12"
										data-ng-model="vm.valueCalc" data-ng-keypress="vm.InputValue($event)">
								</th>					
							</tr>					
						</thead>
						<!-- body of calculator -->
						<tbody class="calc-body row">
							<tr>
								<td class="calc-cell">CE</div>
								<td class="calc-cell" ng-click="vm.Clear()">C</div>
								<td class="calc-cell">B</div>
								<td class="calc-cell" ng-click="vm.SetOperation('Divide')">/</div>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(7)">7</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(8)">8</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(9)">9</div>
								<td class="calc-cell" ng-click="vm.SetOperation('Multiply')">X</div>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(4)">4</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(5)">5</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(6)">6</div>
								<td class="calc-cell" ng-click="vm.SetOperation('Subtract')">-</div>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(1)">1</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(2)">2</div>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(3)">3</div>
								<td class="calc-cell" ng-click="vm.SetOperation('Sum')">+</div>
							</tr>
							<tr>
								<td class="calc-cell calc-number"></div>
								<td class="calc-cell calc-number">0</div>
								<td class="calc-cell calc-number">,</div>
								<td class="calc-cell" ng-click="vm.Calcule()">=</div>
							</tr>
						</tbody>

					</table>
				</div>
			</div>

		</div>

		<!-- jQuery -->
		<script src="assets/libs/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script src="assets/libs/angular/angular.min.js"></script>

		<!-- app -->
		<script src="app/controller.module.js"></script>
		<script src="app/app.module.js"></script>
		<!-- components -->
		<script src="app/components/calculator/calculator.controller.js"></script>
	</body>
</html>