<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Boostrap CSS -->
		<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">		
		<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body data-ng-app="angularjs-calculator">

		<div class="container-fluid" data-ng-controller="CalculatorController as vm">
			<!--Calculator-->
			<div id="calculator" class="row">
				<div class="col-lg-offset-5 col-lg-2 col-sm-offset-4 col-sm-4 col-xs-12">

					<table class="table-responsive">
						<thead class="calc-header">
							<tr>
								<th colspan="4">
									<label class="calc-input col-xs-12 calc-label-error"
										data-ng-if="vm.valueCalc.error"  data-ng-cloak>
										{{vm.valueCalc.msg}}
									</label>

									<input ng-if="!vm.valueCalc.error" type="number" name="inputCalc" value="" class="calc-input col-xs-12"
										data-ng-model="vm.valueCalc" 
										data-ng-keyup="vm.InputValue()">
								</th>					
							</tr>					
						</thead>
						<!-- body of calculator -->
						<tbody class="calc-body row">
							<tr class="calc-head-commands">
								<td class="calc-cell btn-disabled">%</td>
								<td class="calc-cell btn-disabled">
									<img class="calc-command" alt="Sqrt(x)" src="assets/img/sqrt.svg">
								</td>
								<td class="calc-cell btn-disabled">
									<img class="calc-command" alt="Exponentialet" src="assets/img/exp.svg">
								</td>
								<td class="calc-cell btn-disabled">
									<img class="calc-command" alt="Half" src="assets/img/half.svg">
								</td>
							</tr>
							<tr>
								<td class="calc-cell">CE</td>
								<td class="calc-cell" ng-click="vm.Clear()">C</td>
								<td class="calc-cell btn-disabled">
									<img class="calc-command" alt="" src="assets/img/backspace.svg">
								</td>
								<td class="calc-cell" ng-click="vm.SetOperation('Divide')">
									<img class="calc-command" alt="Division" src="assets/img/divide.svg">
								</td>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(7)">7</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(8)">8</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(9)">9</td>
								<td class="calc-cell" ng-click="vm.SetOperation('Multiply')">X</td>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(4)">4</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(5)">5</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(6)">6</td>
								<td class="calc-cell" ng-click="vm.SetOperation('Subtract')">-</td>
							</tr>
							<tr>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(1)">1</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(2)">2</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(3)">3</td>
								<td class="calc-cell" ng-click="vm.SetOperation('Sum')">+</td>
							</tr>
							<tr>
								<td class="calc-cell calc-number btn-disabled">
									<img class="calc-command" alt="" src="assets/img/moreless.svg">
								</td>
								<td class="calc-cell calc-number" ng-click="vm.SetNumber(0)">0</td>
								<td class="calc-cell calc-number btn-disabled">,</td>
								<td class="calc-cell" ng-click="vm.Calcule(true)">=</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>

		</div>

		<!-- jQuery -->
		<script src="assets/libs/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script src="assets/libs/angular/angular.min.js"></script>

		<!-- app -->
		<script src="app/controller.module.js"></script>
		<script src="app/service.module.js"></script>
		<script src="app/app.module.js"></script>
		<!-- components -->
		<script src="app/shared/basicOperations/basicOperations.service.js"></script>
		<script src="app/components/calculator/calculator.controller.js"></script>
	</body>
</html>